<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="/images/avatar.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">Guanliang CHEN<br>陳冠良</a></h1>
					<p>Delft University of Technology</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">About Me</a></li>
						<li><a href="#two">Research Interests</a></li>
						<li><a href="#three">Publications</a></li>
						<li><a href="#four">Professional Activities</a></li>
						<li><a href="#five">Selected Awards</a></li>
						<li><a href="#six">Contact</a></li>
					</ul>
				</nav>
			</section>
    
        {{ content }}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; 2016 Guanliang Chen. The page is created with the template provided by <a href="https://www.freewebtemplates.com/">FreeWebTemplates</a>. </li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollzer.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>
