---
layout: default
---

<h3  style="padding:50px 0 0 0">{{ page.title }}</h3>
<p class="meta" style="padding: 0 0 10px 0;font-style:italic;">{{page.date | date_to_string}}</p>

<div class="post" style="padding: 30px 0 30px 0">
  {{ content }}
</div>

<div style="padding: 30px 0 100px 0">

	<ul class="pager">
		{% if page.previous.url %}
    	<li class="previous"><h3><a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a></h3></li>
    	{% endif %}

    	{% if page.next.url %}
    	<li class="next"><h3><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a></h3></li>
    	{% endif %}
    </ul>


    

</div>
